/*----------COMENTS----------*/

.comments {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 275px;
  z-index: 10;

  color: var(--color1);
}
.comments img {
  height: 20px;
}
.comments__block {
  font-size: 15px;
  font-weight: 300;
  position: relative;
  z-index: 1;
}
.comments__block p,
.comments__block div {
  background: var(--glass-color);
  color: var(--color1);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  padding: 10px 20px;
  border-bottom: 2px solid var(--color1);
}
.comments__block .error {
  border: none;
  padding: 5px 20px;
  border-bottom: 2px solid var(--danger);
  box-shadow: -10px 0px 23px 0px rgba(255,0,0,1);
}
.comments__block img {
  width: auto;
  height: 20px;
  margin: 0px 5px;
}
.comments__block div {
  animation-name: NewResourse;
  animation-duration: 8s;
  opacity: 0;
}

.comments__block .commentsblock-newtoken{
  width: 100%;
  padding: 10px 20px;
  animation-duration: 3s;
  animation-name: takeToken;
  animation-iteration-count: infinite;
}
.comments__block .commentsblock-newtoken:hover{
  border: 2px solid var(--color1) !important;
  background: var(--glass-color) !important;
}

@keyframes takeToken {
  25% {
    border: 2px solid var(--color1);
    background: var(--glass-color);
  }
  50%{
    border: 2px solid var(--danger);
    background: rgba(255, 0, 0, 0.315);
  }
  85% {
    border: 2px solid var(--color1);
    background: var(--glass-color);
  }
}
@keyframes NewResourse {
  0% {
    transform: translateX(150%);
  }
  4% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
.comments__panel {
  font-size: 15px;
  border: none;
  display: flex;
  justify-content: end;
  align-items: center;
  line-height: 25px;
  gap: 15px;
  padding: 8px 15px;
  position: relative;
  z-index: 2;
}
.comments__panel img {
  width: 25px;
  height: auto;
}
.comment-button {
  cursor: pointer;
}
.comment-button img {
  cursor: pointer;
}
.tanksimg-height{
  height: 20px !important;
}

.comments-nexttoken{
  display: flex;
  gap: 10px;
}
.comments-tokenstimer{
  display: inline-block;
  letter-spacing: 0.5px;
  min-width: 63px;
}