/*----------SHOP----------*/

.shop{
   position: relative;
   padding: 50px 0px;
}
.shop__bg{
   position: absolute;
   background-image: url("../../public/img/background/bg_v6-original.png");
   background-size: 500px;
   box-shadow: -1px 12px 25px 1px rgba(0, 0, 0, 0.808) inset;
   width: 100vw;
   height: 100%;
   top: 0px;
   right: 0;
   padding-right: 250px;
}
.shop__content{
   position: relative;
   z-index: 2;
}
.shop__content-title{
   display: flex;
   justify-content: center;
   padding: 0px 10px;
}
.shop__content-title h2{
   line-height: 120%;
}
.shop_title{
   display: grid;
   width: auto;
   grid-template-columns: 1fr 75px;
   gap: 15px;
   padding: 10px 35px;
   margin-bottom: 50px;
}
.shop_title img{
   width: 75px;
   margin: 0 auto;
}
@media (max-width:580px) {
   .shop_title{
      gap: 0px;
      max-width: 250px;
   }
   .shop__content-title h2{
      max-width: 200px;
      font-size: 20px;
   }
   .shop_title img{
      width: 50px;
   }
}

/*---CASES---*/
.shop__case{
   width: 260px;
   height: 440px;
   padding: 30px 20px 20px 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.shop__case-img{
   width: 70%;
   display: flex;
   margin: 0 auto;
}
.shop__case-title{
   margin-top: 10px;
   line-height: 145%;
}
.shop__case-text{
   line-height: 145%;
   margin-top: 15px;
   text-align: center;
}
.buttons-block_shop{
   position: relative;
}
.shop-button{
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 5px;
}
.shop-button img{
   height: 30px;
}