.storage {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 50px 0px;
}
.storage__container{
  position: relative;
  max-width: 940px !important;
}

/*---PROMO-CODES---*/

.storage__codes{
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
}
.storage__codes-content{
  padding: 80px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*---STORAGE-USER---*/

.storage__user{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 50px;
}
.storage__user-block{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.storage__user-block img{
  width: 100%;
}
.storage__user-nickname{
  position: absolute;
  left: 0;
  bottom: 14.5%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.storage__user-nickname h1,
.storage__user-nickname h2,
.storage__user-nickname h3 {
  padding: 20px 35px;
}
.storage__user-settings{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.storage__user-settings button{
  flex: 0 1 33%
}

@media (max-width:1100px) {
  .storage__user-nickname h1,
  .storage__user-nickname h2,
  .storage__user-nickname h3 {
    padding: 15px 20px;
    font-size: 30px;
  }
}
@media (max-width:700px) {
  .storage {
    margin: 70px 0px 50px 0px;
  }
}

/*---CONFIM-MODAL---*/

.storage-confim{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #000000e0;

  display: grid;
  align-items: center;
  grid-template-columns: 250px auto;
}
.storage-confim__form{
  width: 320px;
  padding: 100px 15px 60px 15px;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}
@media (max-width:700px){
  .storage-confim{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*---STORAGE-RESOURCES---*/

.storage__resources {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  z-index: 2;
}
.storage__resources-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.storage__resources-block h2 {
  text-align: left;
}
.srb-block {
  text-align: center;
  line-height: 130%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width:1170px) {
  .srb-block {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width:1040px) {
  .srb-block {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width:870px) {
  .srb-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width:730px) {
  .srb-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:700px) {
  .srb-block {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width:635px) {
  .srb-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width:495px) {
  .srb-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
.resources-block div{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.item__block-text div p{
  margin: 0 auto;
  padding: 3px 5px;
}
.item__block:hover {
  background: var(--glass-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}
.item__block-text{
  gap: 5px;
}
.item__block img {
  margin: 10px auto 0px auto;
  height: 75px;
  transition: all 0.2s ease 0s;
}
.item__block:hover img {
  transform: scale(1.1);
}
.tank-block p {
  background-color: transparent;
  border: none;
  color: var(--color1);
  padding: 0px;
}
.cases-block .item__block img{
  height: 70px;
}

/*---TANKS-BLOCK---*/

.tanks-block{
  gap: 20px;
}

.tankblock {
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  width: 130px;
  height: 160px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
  background-color: #424142;
  border: 2px solid rgba(255, 255, 255, 0.2);

  color: var(--color1);
}
.tankblock:hover {
  border: 2px solid var(--green);
}
.tankblock__container {
  position: relative;
}
.tankblock__img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tankblock__img img {
  width: 75%;
  margin-top: 50px;
  transition: all 0.2s ease 0s;
  transform: translateY(-50%);
}
.tankblock:hover .tankblock__img img {
  transform: translateY(-50%) scale(1.1);
}
.tankblock__container > .tankblock__img {
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.obj__tank-flag {
  width: 100%;
}
.tankblock-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.tankblock-info img{
  height: 25px;
}
.tankblock__text{
  position: absolute;
  padding: 0px 10px;
  bottom: 10px;
  z-index: 1;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tankblock__text p{
  width: 100%;
  text-align: center;
  height: auto;
}
.camo-text{
  font-size: 12px;
}

.tankblock__img.ua {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/ua.png");
}
.tankblock__img.usa {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/usa.png");
}
.tankblock__img.ussr {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/ussr.png");
}
.tankblock__img.ge {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/ge.png");
}
.tankblock__img.br {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/br.png");
}
.tankblock__img.fr {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/fr.png");
}
.tankblock__img.sw {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/sw.png");
}
.tankblock__img.ch {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/ch.png");
}
.tankblock__img.jp {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/jp.png");
}
.tankblock__img.it {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/it.png");
}
.tankblock__img.inter {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/inter.png");
}
.tankblock__img.default {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #424142 70px), url("../../public/img/flags/default.png");
}