*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*----------SCROLLBAR----------*/

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 2px solid var(--color1);
  border-radius: 50px;
  background: var(--bg);
  box-shadow: 1px -1px 196px 159px var(--color1);
  transition: all 0.2s ease 0s;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-bg);
}
::-webkit-scrollbar-track {
  background: var(--glass-color);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border-left: 2px solid var(--color1);
}

::selection {
  background-color: var(--color1);
  color: var(--bg);
}

/*----------ROOT----------*/

:root {
  --danger: #ff0000;
  --white: #fff;
  --green: rgb(10, 180, 10);
  --green-shadow: rgba(10, 180, 10, 0.466);
  --dark-bg: #29344b;
  --bg: #426BBD;

  --header-bg-1-1: #4672CD;
  --header-bg-1-2: #37BCCD;
  --header-bg-2-1: #FB399D;
  --header-bg-2-2: #FB9D3C;

  --color1: #fdffe2;
  --transparent-color1: #fdffe270;
  --glass-color: #fdffe228;
}
/*
:root {
  --danger: #ff0000;
  --white: #fff;
  --green: #C1DEAE;
  --green-shadow: #c1deaea0;
  --gray: #1a2130;
  --bg: #219F94;
  --dark-bg: #219F94;

  --color1: #F2F5C8;
  --glass-color: #fdffe228;
}*/


/*----------BASIC----------*/

body {
  font-family: "Roboto Slab";
  font-size: 18px;
  position: relative;

  background-color: var(--bg);
  background-image: url("../public/img/background/bg_v20-1.png");
  background-size: 500px;
  color: var(--color1);
  line-height: 110%;

  overflow-x: hidden;
}
body.lock {
  overflow-y: hidden;
}
.center{
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}
._container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0px 15px;
  /*border: 1px solid rgb(231, 68, 117);*/
}
._glass {
  background: var(--glass-color);
  color: var(--color1);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 2px solid var(--color1);
}
.btn {
  position: relative;
  border-radius: 0px;
  padding: 10px 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn-squard {
  padding: 10px;
}
.btn .line {
  position: absolute;
  transition: all 0.3s ease 0s;
  background-color: var(--green);
}
.btn .line-top {
  top: -2px;
  left: -2px;
  width: 0%;
  height: 2px;
}
.btn .line-right {
  top: -2px;
  right: -2px;
  width: 2px;
  height: 0%;
}
.btn .line-bottom {
  bottom: -2px;
  right: -2px;
  width: 0%;
  height: 2px;
}
.btn .line-left {
  left: -2px;
  bottom: -2px;
  height: 0%;
  width: 2px;
}
.btn:hover {
  color: var(--green);
  box-shadow: 0px 0px 26px 12px var(--green-shadow);
}
.btn:hover .line-top {
  width: calc(100% + 2px);
}
.btn:hover .line-right {
  height: calc(100% + 2px);
}
.btn:hover .line-bottom {
  width: calc(100% + 2px);
}
.btn:hover .line-left {
  height: calc(100% + 2px);
}
.btn-closed{
  opacity: 0.15;
  pointer-events: none;
}
a {
  color: var(--green);
  transition: all 0.3s ease 0s;
}
a:hover {
  color: var(--green);
  text-decoration: underline;
}
.red {
  color: var(--danger);
}
h2{
  font-weight: 600;
}
h3{
  font-weight: 500;
}

h2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h2 img{
  height: 75px;
}

/*----------CONTENT----------*/

.content {
  transition: all 0.3s ease 0s;
}
.ttu{
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  nav {
    position: fixed !important;
    top: 0 !important;
    left: -100% !important;
  }
}

/*----------TANKS-BG----------*/

.tank-bg{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------CASES----------*/

._cases-container{
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}
.cases__content-title{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0px 10px;
}
.cases__content-title h2{
  padding: 5px 35px;
  line-height: 120%;
}